* {box-sizing: border-box;}

body {
   
    font-weight: bold;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, #E6E6FA, #d3d3d3); 

    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

    }

  .main-mid{

    height:100vh; 
    flex-grow: 1;
    margin-left: 85px;
  
  }   

.flex-container{
  display: flex;
  flex-direction: row;
  /* min-height: 100%; */
  /* height: 100vh; */
  width: 100%;

}


/* Left sidebar menu */
.left-sidebar {
    height: 100%; 
    width: 85px; 
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2F539B;
    overflow-x: hidden; /* Disables horizontal scroll */
    padding-top: 20px;
    text-align: center; /*For the icons */
    display: flex;
    flex-direction: column;
  }

.sidebar-icons {
    height: 90%;

}

.gear-icon {
  padding-bottom: 20px;
}

  
  /* The navigation menu links */
  .left-sidebar a {
    padding: 6px 8px 6px;
    text-decoration: none;
    display: block;
    color: #2F539B;
    font-size: x-large;

    text-shadow:
    -1px -1px 0 #fff, /* Top left */
     1px -1px 0 #fff, /* Top right */
    -1px  1px 0 #fff, /* Bottom left */
     1px  1px 0 #fff; /* Bottom right */

  }

  .left-sidebar a:hover {
    color: #d3d3d3;
  }


/* end of left sidebar menu */


.date-time{
    width: 250px;
    /* max-width: 200px; */
    margin: auto;
    position: absolute;
    left: 10%;
    height: 300px;
    top: 20px;
    background-color: #FFFFFF;
    border-radius: 25px; 
    text-align: center;
    font-size: large;
}

.date, time {

  padding-top: 20%;
}


.weather-slideshow {
    width: 250px;
    /* max-width: 200px; */
    margin: auto;
    position: absolute;
    left: 30%;
    height: 300px;
    top: 20px;
    background-color: #FFFFFF;
    border-radius: 25px;
    font-size: large;
}

.wthr-slide {
  padding-top: 20%;
}


/* Headline slideshow */
.headline-slideshow {
  width: 250px;
  /* max-width: 200px; */
  margin: auto;
  position: absolute;
  left: 50%;
  height: 230px;
  top: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
  
}

.headline-slide, .wthr-slide {
  display: none;
  vertical-align: middle;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}
/* end of headline slideshow */



/* gainers-losers slideshow */
.gain-lose-slideshow{
  width: 525px;
  /* max-width: 200px; */
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 10%;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 25px;
  font-size: large;
}

.gainlose-flex{
  display: flex;
  width: 525px;
  padding-top: 5%;
}

.gainers-slideshow, .losers-slideshow{
  text-align: center;
  width: 262.5px;
}

.green-triangle{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid green; 
  margin: 2rem;
  
}

.red-triangle{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent; 
  border-right: 10px solid transparent; 
  border-top: 10px solid red; 
  margin: 2rem;
  
}
/* end of gainers-losers slideshow */


.forex-slideshow{
  width: 250px;
  /* max-width: 200px; */
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 50%;
  height: 275px;
  background-color: #FFFFFF;
  border-radius: 25px;  
  text-align: center;
  padding-top: 5%;

}

/* Search Bar */
.searchbar{
  top: 20px;
  left: 70%;
  width: 250px;
  margin: auto;
  position: absolute;
  height: 57.5px;
  background-color: #FFFFFF;
  border-radius: 25px;  
}

input{
  border: none;
  height: 57.5px; 
  text-align: center;
  vertical-align: middle;
  font-size: medium;
  border-radius: 25px; 
}
input:focus{
  border-radius: 25px; 
}
.searchbar-form{
  text-align: center;
  vertical-align: middle;
}
.search-button{
  outline: none;
  border: none;
  background-color: transparent;
}
/* End of Search Bar */


.commodities-container{
  width: 250px;
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 70%;
  background-color: #FFFFFF;
  border-radius: 25px;  
  height: 440px;
  text-align: center;
  color: black;
  font-size: small;
}

.slide-text{
    color: black;
    font-size: small;
    bottom: 8px; 
    top: 100px; 
}

/* Slide Animations */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }



