* {box-sizing: border-box;}

body {
    font-family: Verdana, sans-serif;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, #E6E6FA, #d3d3d3); 
    }


.flex-container{
  display: flex;
  /* min-height: 100%; */
  flex-direction: row;
  height: 100vh;

}


.main-mid{
  
  height:100vh; 
  flex-grow: 1;
  margin-left: 85px;

}


/* Left sidebar menu */
.left-sidebar {
    height: 100%; 
    width: 85px; 
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2F539B;
    overflow-x: hidden; /* Disables horizontal scroll */
    padding-top: 20px;
    text-align: center; /*For the icons */

  }
  
  /* The navigation menu links */
  .left-sidebar a {
    padding: 6px 8px 6px;
    text-decoration: none;
    display: block;
    color: #2F539B;
    
    font-size: x-large;

    text-shadow:
    -1px -1px 0 #fff, /* Top left */
     1px -1px 0 #fff, /* Top right */
    -1px  1px 0 #fff, /* Bottom left */
     1px  1px 0 #fff; /* Bottom right */

  }

  .left-sidebar a:hover {
    color: #d3d3d3;
  }

.date-time{
    width: 250px;
    /* max-width: 200px; */
    margin: auto;
    position: absolute;
    left: 10%;
    height: 300px;
    top: 20px;
    background-color: #FFFFFF;
    border-radius: 25px; 
    text-align: center;
    font-family:"Trebuchet MS", Helvetica, sans-serif; 
}

/* Slideshow container */
.weather-slideshow {
    width: 250px;
    /* max-width: 200px; */
    margin: auto;
    position: absolute;
    left: 30%;
    height: 300px;
    top: 20px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.finance-slideshow {
  width: 250px;
  /* max-width: 200px; */
  margin: auto;
  position: absolute;
  left: 50%;
  height: 230px;
  top: 20px;
  background-color: #FFFFFF;
  border-radius: 25px;
}

.tmp-1{
  display: flex;
  width: 525px;
  /* max-width: 200px; */
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 10%;
  height: 200px;
  background-color: #FFFFFF;
  border-radius: 25px;
}
.tmp-2{
  display: flex;
  width: 250px;
  /* max-width: 200px; */
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 50%;
  height: 275px;
  background-color: #FFFFFF;
  border-radius: 25px;  
}

.tmp-3{
  top: 20px;
  left: 70%;
  width: 250px;
  margin: auto;
  position: absolute;
  height: 57.5px;
  background-color: #FFFFFF;
  border-radius: 25px;  
}

.tmp-4{
  width: 250px;
  bottom: 115px;
  margin: auto;
  position: absolute;
  left: 70%;
  background-color: #FFFFFF;
  border-radius: 25px;  
  height: 440px;
}

.fin_slide, .wthr_slide {
  display: none;
  vertical-align: middle;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}


.slide-text{
    color: black;
    font-size: small;
    bottom: 8px; 
   
    text-align: center;
    top: 100px; 
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    }
    
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }



